<div class="back-gradient hauteur70" style="padding-top: 20px;;">
  <img src="../assets/img/wave.png" style="width: 100%; height: 20vh;; position: absolute; bottom: -1px;">
  <div class="container">
    <div class="row">
      <div class="cell-lg-8">
        <span class="mif-search fg-white"
          style="position: absolute; padding: 5px; padding-top: 7px; padding-left: 20px;">

        </span>
        <input type="text">
      </div>
      <div class="cell-lg-4 hideOnMobile">
        <div class="row">
          <div class="cell-lg-2 cell-2 fg-white">
            <b class="text-leader2" style="position: absolute; padding: 5px; padding-top: 0px; padding-left: 20px;">
              Fr
            </b>
          </div>
          <div class="cell-lg-2 cell-2 fg-white">
            <b style="font-size: 1.2em; position: absolute; padding: 5px; padding-top: 0px; padding-left: 20px;">
              <i class="mif-play"></i>
            </b>
          </div>
          <div class="cell-lg-2 cell-2 fg-white" style="text-align: right;">
            <div style="margin-top: -3px;;">
              <img src="../assets/img/verlaine.jfif"
                style="height: 35px; border-radius: 50%; border: 0px solid #8e2de2;">
            </div>
          </div>
          <div class="cell-lg-6 cell-6 fg-white">
            <span style="position: absolute; padding: 5px; padding-top: 0px; padding-left: 0px;">
              <span class="manuscrit">
                Mba verlaine
              </span>
            </span>
          </div>
        </div>

      </div>

    </div>
    <div class="">
      <div class="row">
        <div class="cell-lg-9 fg-white">
          <h4 class="mon-menu">
            <a routerLink="biographie" routerLinkActive="active" class="mon-menu-item" style="">
              Biographie
            </a>
            <a routerLink="collaborations" routerLinkActive="active" class="mon-menu-item" style="">
              Collaborations
            </a>
            <a routerLink="commandes" routerLinkActive="active" class="mon-menu-item" style="">
              Commandes
            </a>
            <a routerLink="oeuvres" routerLinkActive="active" class="mon-menu-item" style="">
              Oeuvres
            </a>
          </h4>
        </div>
        <div class="cell-lg-3 fg-white hideOnMobile">
          <div class="row" style="margin-top: 10px;">
            <div class="cell-4">
              <div
                style="height: 15vh; padding: 3px; background: linear-gradient(to right, #ee0979, #ff6a00);; border-radius: 5px;;">
                <div
                  style="height: 100%; border: 2px solid rgb(132, 53, 229);  background-color: rgba(132, 53, 229, 1); border-radius: 5px;;">

                </div>
              </div>
            </div>
            <div class="cell-4">
              <div
                style="height: 15vh; padding: 3px; background: linear-gradient(to right, #ee0979, #ff6a00);; border-radius: 5px;;">
                <div
                  style="height: 100%; border: 2px solid rgb(132, 53, 229);  background-color: rgba(132, 53, 229, 1); border-radius: 5px;;">

                </div>
              </div>
            </div>
            <div class="cell-4">
              <div
                style="height: 15vh; padding: 3px; background: linear-gradient(to right, #ee0979, #ff6a00);; border-radius: 5px;;">
                <div
                  style="height: 100%; border: 2px solid rgb(132, 53, 229);  background-color: rgba(132, 53, 229, 1); border-radius: 5px;;">

                </div>
              </div>
            </div>
            
          </div>
          <div style="text-align: center; color: #fff; margin-top: -5px;">
            <small style="color: #eee;">
              Voir plus de créations
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="mainMuanza">
  <div class="container" style="min-height: 45vmin; padding-top: 0vh;">
    <router-outlet></router-outlet>
  </div>
</div>
<div style="height: 100vh;">

</div>