<div class="row">
    <div class="cell-lg-8">
        <p class="text-leader2 fg-white" style="margin-bottom: 25px;;">
            Passionnée d'art,
            Verlaine mba est une jeune femme dynamique qui étudie
            pour une licence en mathématique et offre des prestations professionnelles en digital art.
        </p>
    </div>
</div>
<div class="row">
    <div class="cell-lg-4">
        <div class="box"
            style="height: 40vh; background-size: cover; background-position: center center; background-image: url('../../../assets/img/verlaine.jfif');">

        </div>
    </div>
    <div class="cell-lg-8">
        <div class="box" style="padding: 20px; padding-left: 40px; padding-right: 35px;; height: 40vh;">
            <p class="text-leader2">
                <span style="font-size: 1.5em;">

                    Hello !
                </span>
                Je m'appelle verlaine mba, j'ai 19 ans ,
                étudiante en mathematiques , je vis à Bertoua.
                En parallèle à mes études,
                je pratique depuis 5 ans le Digital art
                et depuis 2 ans je realise des
                commandes.
            </p>
        </div>
    </div>
</div>
<div class="row hashtags">
    <div class="cell-lg-2">
        <div class="box" style="text-align: center; padding: 15px;">
            Femme
        </div>
    </div>
    <div class="cell-lg-2">
        <div class="box" style="text-align: center; padding: 15px;">
            Célibataire
        </div>
    </div>
    <div class="cell-lg-3">
        <div class="box" style="text-align: center; padding: 15px;">
            <span class="mif-facebook" style="margin-right: 20px;;">
            </span>
            Mba Verlaine
        </div>
    </div>
    <div class="cell-lg-3">
        <div class="box" style="text-align: center; padding: 15px;">
            <span class="mif-instagram" style="margin-right: 20px;;">
            </span>
            @mbaverlaine
        </div>
    </div>
    <div class="cell-lg-2">
        <div class="box" style="text-align: center; padding: 15px;">
            2013
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" style="">
        <div style="margin-right: 15px;">
            <div>
                <h2>
                    Aux origines de ma passion
                </h2>
                <div class="hideOnMobile" style="margin-left: -18px; margin-top: -12px;; margin-bottom: -10px;">
                    <ul class="breadcrumbs">
                        <li class="page-item"><a href="#" class="page-link">Biographie</a></li>
                        <li class="page-item"><a href="#" class="page-link">Aux origines de ma passion</a></li>
                    </ul>
                </div>
                <p class="text-leader2 text-just">
                    Cet amour pour le 9<sup>ième</sup> art ne m'est venu qu'en classe de troisième
                    avec l'introduction de cours d'art plastique dans mon lycée.
                    Ensuite, à travers mes recherches personnelles,
                    j'ai découvert le Digital painting que j'ai appris en autodidacte.
                    Trois ans plus tard, installée à Douala,
                    j'ai réellement pris conscience de mon talent
                    et envisagé d'en faire un métier en côtoyant les acteurs du domaine.
                    J’ai repris en main mes différents pages web,
                    revu mes techniques de travail et accepté des commandes.
                </p>
                <div class="row" style="margin-top: 30px;">

                    <div class="cell-lg-3 cell-6">
                        <div
                            style="height: 45vmin; padding: 3px; background: linear-gradient(to right, #ee0979, #ff6a00);; border-radius: 5px;;">
                            <div
                                style="height: 100%; border: 2px solid rgb(255, 255, 255);  background-color: rgba(255, 255, 255, 1); border-radius: 5px;;">

                            </div>
                        </div>
                    </div>
                    <div class="cell-lg-3 cell-6">
                        <div
                            style="height: 45vmin; padding: 3px; background: linear-gradient(to right, #ee0979, #ff6a00);; border-radius: 5px;;">
                            <div
                                style="height: 100%; border: 2px solid rgb(255, 255, 255);  background-color: rgba(255, 255, 255, 1); border-radius: 5px;;">

                            </div>
                        </div>
                    </div>
                    <div class="cell-lg-3 cell-6">
                        <div
                            style="height: 45vmin; padding: 3px; background: linear-gradient(to right, #ee0979, #ff6a00);; border-radius: 5px;;">
                            <div
                                style="height: 100%; border: 2px solid rgb(255, 255, 255);  background-color: rgba(255, 255, 255, 1); border-radius: 5px;;">

                            </div>
                        </div>
                    </div>
                    <div class="cell-lg-3 cell-6">
                        <div
                            style="height: 45vmin; padding: 3px; background: linear-gradient(to right, #ee0979, #ff6a00);; border-radius: 5px;;">
                            <div
                                style="height: 100%; border: 2px solid rgb(255, 255, 255);  background-color: rgba(255, 255, 255, 1); border-radius: 5px;;">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="faq" style="margin-top: 40px;">
                <h2>
                    Frequently Asked Questions
                </h2>
                <div  class="hideOnMobile" style="margin-left: -18px; margin-top: -13px;; margin-bottom: 0px;">
                    <ul class="breadcrumbs">
                        <li class="page-item"><a href="#" class="page-link">Biographie</a></li>
                        <li class="page-item">
                            <a href="#" class="page-link">
                                Frequently Asked Questions
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4 style="color: #444;">
                        Comment j'ai découvert l'art et le digital art ?
                    </h4>
                    <p class="text-leader2 text-just">
                        Je l'ai découvert en 2013 grâce à l'introduction dans mon lycée de cours de dessin.
                        C’est là que j'ai attirée l'attention des professeurs qui ont décelés un talent.
                        Avant cela le dessin n'était pas vraiment une passion.
                    </p>
                </div>
                <div>
                    <h4 style="color: #444;">
                        Comment et pourquoi j'en ai fait une profession ?
                    </h4>
                    <p class="text-leader2 text-just">
                        Premièrement, je dirais que dessiner m'apporte une joie incroyable. Quand je dessine tout parait
                        plus simple et clair, et a force de pratiquer, j'ai commencé à évoluer et à partager mon
                        univers. Après de très bon retour, j'ai commencé à être encouragée et contactée par des
                        professionnels du domaine. C'est cela qui m'a boostée et m'a motivée a en faire ma profession.
                    </p>
                </div>
                <div>
                    <h4 style="color: #444;">
                        D'où vient mon inspiration ?
                    </h4>
                    <p class="text-leader2 text-just">
                        Je puise mon inspiration de la nature, la beauté, la diversité et l’originalité des cultures
                        camerounaises et africaines. J’ai une préférence pour les contes féeriques africains remplis de
                        magies, mythes, mystères, sorcières et déités.
                    </p>
                </div>
                <div>
                    <h4 style="color: #444;">
                        Artistes inspirants
                    </h4>
                    <p class="text-leader2 text-just">
                        Les artistes tel que Artgerm, Arthur Adam,
                        Marcus the visual, gdbee et Paul monthe
                        ont beaucoup influencés mon style graphique.
                    </p>
                </div>
                <div>
                    <h4 style="color: #444;">
                        Processus et choix artistique
                    </h4>
                    <p class="text-leader2 text-just">
                        Face à ma toile je me laisse le plus souvent guider intuitivement en essayant de garder en tête
                        le but à atteindre. J’essaye le plus souvent de toujours faire de mon mieux sur chaque œuvre
                        pour qu'elle puisse être le chef d'oeuvre de ma vie.
                    </p>
                </div>
                <div>
                    <h4 style="color: #444;">
                        La vision de mon art, mon objectif artistique
                    </h4>
                    <p class="text-leader2 text-just">
                        À travers mon art, j'exprime mes émotions, mon univers, ma passion, ma vision. J’aime insuffler
                        à travers mes créations le bonheur, l'étonnement et la passion, suscité l'espoir et l'action.
                    </p>
                </div>
                <div>
                    <h4 style="color: #444;">
                        Centre d'intérêt
                    </h4>
                    <p class="text-leader2 text-just">
                        Le dessin, la musique, la lecture, le sport.
                    </p>
                </div>
                <div>
                    <h4 style="color: #444;">
                        Conseils à un débutant
                    </h4>
                    <p class="text-leader2 text-just">
                        A un débutant, je lui conseillerais d'acquérir <b>l'amour réel</b> du dessin en se saturant au
                        quotidien d'œuvres, vidéos animés et auteurs préférés. Ensuite de savoir <b>se discipliner</b>,
                        qualité
                        indispensable pour résister aux doutes, moral bas, paresse et autres. Posséder
                        <b>une grande patience</b>
                        pour se laisser le temps de s'améliorer et murir !!!
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>