/* You can add global styles to this file, and also import other style files */
.box {
    border-radius: 5px;
    margin-right: 20px;
    border: 1px solid #aaa;
    background-color: rgba(255, 255, 255, 0.95);
    margin-bottom: 20px;
}

.margin-right-20 {
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
    .hideOnMobile {
        display: none;
    }
    .margin-right-20 {
        margin-right: 0px;
    }

    .box {
        border-radius: 5px;
        margin-right: 0px;
        border: 1px solid #aaa;
        background-color: rgba(255, 255, 255, 0.95);
        margin-bottom: 20px;
    }
}



